*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.icon{
    margin-top: 100px;
}

.icon a{
    height: 100px;
    width: 100px;
    background-color: white;
    display: inline-flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-size: 100% 200%;
    background-position: 100% 5%;
    transition: all 1s ease-in-out;
    border-radius: 50%;
    margin:10px;
    
}

.icon a:nth-child(1){
    background-image: linear-gradient(white 50%, #4267B2 30% );
    color: #4267B2;
}

.icon a:nth-child(1):hover{
    background-image: linear-gradient(white 50%, #4267B2 30% );
    color: white;
    background-position: 100% 100%;
}

.icon a:nth-child(2){
    background-image: linear-gradient(white 50%, #FF0000 30% );
    color: #FF0000;
}

.icon a:nth-child(2):hover{
    background-image: linear-gradient(white 50%, #FF0000 30% );
    color: white;
    background-position: 100% 100%;
}

.icon a:nth-child(3){
    background-image: linear-gradient(white 50%, #00acee 30% );
    color: #00acee;
}

.icon a:nth-child(3):hover{
    background-image: linear-gradient(white 50%, #00acee 30% );
    color: white;
    background-position: 100% 100%;
}

.icon a:nth-child(4){
    background-image: linear-gradient(white 50%, #c8232c 30% );
    color: #c8232c;
}

.icon a:nth-child(4):hover{
    background-image: linear-gradient(white 50%, #c8232c 30% );
    color: white;
    background-position: 100% 100%;
}

